
@{
    ViewData["Title"] = "Disbursment Target";
}

<h1>@ViewData["Title"]</h1>
<div style="overflow:scroll; width:100%;">
    <table style="color:1px #00000 solid; text-align:center;width:100%" class="dashboard-table-list" border="1">

        <tbody>
            <tr>
                <th>Count</th>
                <th>FI Name</th>
                <th>Fund name</th>
                <th>Amount</th>
                <th>Financial Year</th>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </tr>
        </tbody>
    </table>
</div>